/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 1.25rem;;
}

/*For Salon Logo*/
img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: 60px;
}
/*For Nav Bar menu to fit theme*/
nav .button-collapse i {
  color: black;
}
p {
  line-height: 2rem;
  font-family: 'Quicksand', sans-serif;
}
#topBorder {
  height: 10px;
  width: 70%;
  transform: translate(260px);
  background-color: yellow;
}
#welcomeBorder {
  /*border-style: solid;*/
  border-width: 5px;
  border-bottom: solid;
  border-bottom-color: yellow;
  border-bottom-width: medium;
}

#salonWelcome {
  transform: translate(95px, -70px);
}
#download-button{
  transform: translate(90px, 130px);
  background-color: blue;
}
/*Text above book now*/
#hair_skin_nails {
  height: 20px;
}

.button-collapse {
  color: #26a69a;
}
#img-responsive-height
{
  display: block;
  width: 600px;
  max-height: 100%;
  height: 330px;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

  #topBorder {
    height: 10px;
    width: 70%;
    transform: translate(180px);
    background-color: yellow;
  }

  #salonWelcome {
    transform: translate(70px, -70px);
}
/*CSS For iPads/Tablets*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #topBorder {
    height: 5px;
    width: 87.5%;
    transform: translate(50px);
    background-color: yellow;
  }
  #index-banner .section {
    top: 10%;
  }
  #img-responsive-height {
    display: block;
    width: 300px;
    max-height: 100%;
    height: 400px;
  }
  #hair_skin_nails {
    height: 20px;
    width: 700px;
  }
  #download-button {
    transform: translate(-190px, 130px);
  }
}
/*Phone CSS*/
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #topBorder {
    display: none;
  }
  #bookingLogo {
    display: none;
  }
  #img-responsive-height {
    display: block;
    width: 300px;
    max-height: 100%;
    height: 400px;
  }
  /*Text above book now*/
  #hair_skin_nails {
    height: 70px;
    width: 375px;
    margin-top: 33px;
  }
  /*Welcome text*/
  #salonWelcome {
    transform: translate(40px, -70px);
  }
  /*Book Now button*/
  #download-button {
    transform: translate(-150px, 180px);
  }
}
/*End of phone CSS*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*Coupon styling */
.stitchedCoupon {
  padding: 20px;
  margin: 10px;
  background: pink;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px pink, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  font-weight: normal;
}
h4 {
font-family: 'Josefin Slab', serif;
}
h5 {
  font-family: 'Josefin Slab', serif;
}
li {
  font-family: 'Josefin Slab', serif;
}

.col.s12 > .btn {
  width: 100%;
  /*Box shadow gives white padding*/
  box-shadow: inset 0 0 0 3px white;
  font-family: 'Josefin Slab', sans-serif;
}
}
