/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    font-family: Lato;
}
nav ul a,
nav .brand-logo {
  color: #444;
  font-size: 1.25rem;;
}
.img-circle {
  border-radius: 50%;
  display: inline-block;
}
.parallax-container {
  height: 700px;
}
/*Desktop Layout*/
#gastoniaYellow {
    text-indent: 18px;
    display: inline-block;
}
#iconFooter {
    font-size: x-large;
    text-indent: 30px;
transform: translate(-25px,0px);
}
#contactBarParallax {
    transform: translateY(-20px);
}
/*Grid for Our Staff*/

/**** Grid Style ****/
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
}

.grid-item {
  list-style: none;
  -webkit-flex-basis: 140px;
  -ms-flex-preferred-size: 140px;
  flex-basis: 140px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.grid-item img {
  max-width: 100%;
  margin: auto;
  Transition: 0.3s;
}
.grid-item .member-name {
  text-align: center;
}
.grid-item .member-title {
  display: block;
  text-align: center;
}

/*For Salon Logo*/
img.responsive-img, video.responsive-video {
  max-width: 100%;
  height: 60px;
}
/*For Nav Bar menu to fit theme*/
nav .button-collapse i {
  color: black;
}
p {
  line-height: 2rem;
  font-family: 'Lato', sans-serif;
}
.topBorder {
  height: 10px;
  width: 100%;
  background-color: #f3e500;
}
#welcomeBorder {
  /*Thin Container Style*/
  /*border-width: 15px;*/
  /*border-bottom: solid;*/
  /*border-bottom-color: yellow;*/
  /*border-bottom-width: thick;*/
  /*margin-bottom: 15px;*/

  /*Thick Exceeding Container Style*/
  height: 10px;
  width: 180%;
  background-color: yellow;
  transform: translate(-200px,0px);
}#bookingBorder {
   border: 4px solid #f3e500;
   border-width: medium;
   padding-bottom: 12px;
   padding-top: 12px;
   padding-left: 10px;
   padding-right: 10px;
   font-family: 'Lato', sans-serif;
}

 .yellowborder {
   border: 2px solid #f9f92a;
   border-width: medium;
   padding-bottom: 12px;
   padding-top: 12px;
   padding-left: 10px;
   padding-right: 10px;
   font-family: 'Lato', sans-serif;
 }
 #gmap_canvas {
   height: 60px;
 }

#salonWelcome {
  width: 80%;

}
.download-button{
  /*transform: translate(-50px, 190px);*/
  background-color: blue;
  margin: 20px;
}
/*Text above book now*/
#hair_skin_nails {
  height: 20px;
}

.button-collapse {
  color: #26a69a;
}
.img-responsive-height
{
  display: block;
  width: 600px;
  max-height: 100%;
  height: 330px;
}

.img-responsive-height-nails
{
    display: block;
    width: 300px;
    max-height: 100%;
    height: 280px;
}
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
#servicesTitle {
  border: 2px solid red;
  border-width: thin;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;


}

#aboutUsTitle {
  border: 2px solid blue;
  border-width: thin;
  padding-bottom: 12px;
  padding-top: 12px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Lato', sans-serif;

}

/* ----------- Retina Screens ----------- */
@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-min-device-pixel-ratio: 2)
and (min-resolution: 192dpi) {

  .topBorder {
    height: 10px;
    width: 100%;
    /*transform: translate(180px);*/
    background-color: #f3e500;
  }
  /*Text above book now*/
  #hair_skin_nails {
    height: 20px;
    transform: translate(40px, 0px);
  }

  #salonWelcome {

}
/*CSS For iPads/Tablets*/
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #topBorder {
    height: 5px;
    width: 100%;
    transform: translate(50px);
    background-color: yellow;
  }

  #gastoniaYellow{
      text-indent: 43px;
  }
  #index-banner .section {
    top: 10%;
  }
  #img-responsive-height {
    display: block;
    width: 300px;
    max-height: 100%;
    height: 400px;
  }
  #hair_skin_nails {
    height: 20px;
    width: 700px;
  }
  .grid-item {
    list-style: none;
    -webkit-flex-basis: 120px;
    -ms-flex-preferred-size: 120px;
    flex-basis: 120px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
  #download-button {
    /*transform: translate(0px, 100px);*/
  }
}
/*Phone CSS*/
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #topBorder {
    display: none;
  }
  #bookingLogo {
    display: none;
  }
  #gastoniaYellow {
      text-indent: 22px;
      display: inline-block;
  }
  #img-responsive-height {
    display: block;
    width: 300px;
    max-height: 100%;
    height: 400px;
  }
  /*Text above book now*/
  #hair_skin_nails {
    height: 70px;
    width: 375px;
    margin-top: 33px;
  }
  /*Welcome text*/
  #salonWelcome {

  }
  /*Book Now button*/
  #download-button {
    /*transform: translate(-150px, 180px);*/
  }
  .grid-item {
    list-style: none;
    -webkit-flex-basis: 120px;
    -ms-flex-preferred-size: 120px;
    flex-basis: 120px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
  }
}
/*End of phone CSS*/
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
/*Coupon styling */
.stitchedCoupon {
  padding: 20px;
  margin: 10px;
  background: pink;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  line-height: 1.3em;
  border: 2px dashed #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 4px pink, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
  text-shadow: -1px -1px #aa3030;
  font-weight: normal;
}
h4 {
font-family: 'Walkway', sans-serif;
}
h5 {
  font-family: 'Walkway', sans-serif;
}
li {
  font-family: 'Walkway', sans-serif;
}

.col.s12 > .btn {
  width: 100%;
  /*Box shadow gives white padding*/
  box-shadow: inset 0 0 0 3px white;
  font-family: 'Josefin Slab', sans-serif;
}
}
